* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.menu-container {
    display: grid;
    grid-template-columns: 100px 1fr auto;
    padding: 20px;
    background-color: #111111;
    color: #f9f9f9;
    align-items: center;
    border-bottom: 1px solid #191919;
}

.menu-container-right {
    display: flex;
    gap: 10px;
    align-items: center;
}

.menu {
    display: flex;
    gap: 10px;
    font-weight: 600;
    font-size: 16px;
}

.logo:hover {
    cursor: pointer;
}

.rift {
    padding: 10px;
}

.rift:hover {
    cursor: pointer;
}

.menu-item {
    align-self: center;
    box-sizing: border-box;
    padding: 10px;
    border-radius: 10px;
    position: relative;
}

.menu-item:hover {
    cursor: pointer;
    background-color: #333333;
}

.menu-item::after {
    content: "";
    background-color: rgb(0, 200, 200);
    width: 0;
    height: 4px;
    border-radius: 2px;
    position: absolute;
    bottom: -20px;
    left: 0;
    transition: 0.3s;
}

.menu-item:hover::after {
    width: 100%;
}

.logosvg {
    fill: #f9f9f9;
}

.logosvg:hover {
    fill: #eb0029;
}

.icon {
    display: inline-block;
    width: 18px;
    height: 18px;
    stroke-width: 0;
    stroke: #f9f9f9;
    fill: #f9f9f9;
}

.language {
    padding: 10px;
}

.language:hover {
    cursor: pointer;
    background-color: #333333;
    border-radius: 10px;
}

.log-in {
    cursor: pointer;
    width: 80px;
    height: 27px;
    font-size: 16px !important;
    font-weight: 600;
    border-radius: 10px;
    border-style: none;
    background-color: #006464;
    letter-spacing: 0.1em;
}

.log-in:hover {
    background-color: rgb(0, 200, 200);
}

.schedule-container {
    display: grid;
    grid-template-columns: 80vw 20vw;
    padding-top: 92px;
}

.sidebar-container {
    position: relative;
}

.sidebar-fixed {
    position: fixed;
    height: calc(100% - 92px);
}

.sidebar {
    background-color: #0a0e13;
    width: 100%;
    height: calc(100vh - 150px);
    overflow-y: auto;
}

.sidebar-header {
    color: #8497a3;
    padding: 30px 10px 10px 25px;
    border-bottom: 1px solid #252c32;
    font-weight: 600;
    background-color: #0a0e13;
}

.league-parent {
    color: #8fa3b0;
}

.active .league-name {
    color: #ffffff;
}

.grid-league.active {
    border-left: 4px solid #00c8c8;
}

.grid-league.active img {
    opacity: 1;
}

.league-name {
    color: #7c8d99;
}

.grid-league img {
    opacity: 0.3;
}

.grid-league {
    display: flex;
    gap: 10px;
    padding: 10px 10px 10px 25px;
    align-items: center;
    border-bottom: 1px solid #252c32;
}

.grid-league:hover {
    cursor: pointer;
}

.grid-league:hover img {
    opacity: 1;
}

.events {
    background-color: #0f1519;
    color: #ffffff;
    height: calc(100%-3800px);
    overflow-y: auto;
}

.grid-matches {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    border-bottom: 1px solid #252c32;
    margin: 0 34px;
}

.teams {
    display: flex;
}

.team {
    display: flex;
    align-items: center;
    gap: 10px;
}

.vs {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70px;
    color: #8fa3b0;
    font-size: 20px;
}

.date {
    margin: 0 34px;
    border-bottom: 1px solid #252c32;
    padding: 48px 0 15px 0;
    font-size: 20px;
    display: flex;
}

.weekday {
    font-weight: bold;
    margin-right: 3px;
}

.time {
    position: relative;
}

.hour {
    font-size: 45px;
}

.minute {
    position: relative;
    font-size: 15px;
    top: -55px;
    right: -45px;
}

.approx {
    position: relative;
    font-size: 15px;
    top: -20px;
    color: #8fa3b0;
}

.type-of-game {
    color: #8fa3b0;
    text-align: right;
}

.menu-fixed {
    position: fixed;
    width: 100%;
    z-index: 1;
}
