* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.menu-container {
    display: grid;
    grid-template-columns: 100px 1fr auto;
    padding: 20px;
    background-color: #111111;
    color: #f9f9f9;
    align-items: center;
}

.menu-container-right {
    display: flex;
    gap: 10px;
    align-items: center;
}

.menu {
    display: flex;
    gap: 10px;
    font-weight: 600;
    font-size: 16px;
}

.logo:hover {
    cursor: pointer;
}

.rift {
    padding: 10px;
}

.rift:hover {
    cursor: pointer;
}

.menu-item {
    align-self: center;
    box-sizing: border-box;
    padding: 10px;
    border-radius: 10px;
    position: relative;
}

.menu-item:hover {
    cursor: pointer;
    background-color: #333333;
}

.menu-item::after {
    content: "";
    background-color: rgb(0, 200, 200);
    width: 0;
    height: 4px;
    border-radius: 2px;
    position: absolute;
    bottom: -20px;
    left: 0;
    transition: 0.3s;
}

.menu-item:hover::after {
    width: 100%;
}

.logosvg {
    fill: #f9f9f9;
}

.logosvg:hover {
    fill: #eb0029;
}

.icon {
    display: inline-block;
    width: 18px;
    height: 18px;
    stroke-width: 0;
    stroke: #f9f9f9;
    fill: #f9f9f9;
}

.language {
    padding: 10px;
}

.language:hover {
    cursor: pointer;
    background-color: #333333;
    border-radius: 10px;
}

.log-in {
    cursor: pointer;
    width: 80px;
    height: 27px;
    font-size: 16px !important;
    font-weight: 600;
    border-radius: 10px;
    border-style: none;
    background-color: #006464;
    letter-spacing: 0.1em;
}

.log-in:hover {
    background-color: rgb(0, 200, 200);
}

.schedule-container {
    display: grid;
    grid-template-columns: 80vw 20vw;
}

.sidebar-container {
    position: relative;
}

.sidebar {
    position: fixed;
    background-color: #0a0e13;
    width: 100%;
}

.league-parent {
    color: #8fa3b0;
}

.league-name {
    color: #ffffff;
}

.grid-league {
    display: flex;
    gap: 10px;
    padding: 10px;
}
